body{
  text-align: center;
    background: #FFF188;
    color: #0033CC;
    font-family: 'Playfair Display', serif;
}
hr{
  width: 400px;
}
p{
    font-size: 18px;
}
#book {
	display: block;
	width: 100%;
	margin: 0 auto;
}

#calendar {
	display: block;
	float: left;
}
#comment {
	display: block;
	float: right;
}

Nav{
    background-color: #fff188;
    font-family: arial, sans-serif;
    display: inline-block;
}

a{
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
    width:200px;
    float: left;
    
}
a:hover{
    background-color: #ffcc00;
}

.clearfix:after{
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}


