body{
  text-align: center;
    background: #FFF188;
    color: #0033CC;
    font-family: 'Playfair Display', serif;
    position: relative;
}
footer{
  position: absolute;
  bottom: 0;
  

}
hr{
  width: 400px;
}
p{
    font-size: 18px;
}

nav{
    background-color: #fff188;
    font-family: arial, sans-serif;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

a{
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
    width: 170px;
    float: left;
    
}


#book {
  display: block;
  width: 100%;
  margin: 0 auto;
}
#recipes {
    display: block;
    float: left;
}

#calendar {
  display: block;
  float: left;
}
#comment {
  display: block;
  float: right;
}


#wrapper{
  width: 800px;
  margin-left: auto;
    margin-right: auto;
}

a:hover{
    background-color: #ffcc00;
}

.clearfix:after{
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

