

body{
  text-align: center;
  background: url("http://www.soy.com/assets/images/Product/p198650z.jpg");

  background-size: cover;
  color: #000;
  font-family: 'Crimson Text', serif;
}

h1{
  font-size: 22px;
  font-family: 'Baumans', cursive;
}
#slogan {
	font-style: italic;
}